#container {
    text-align: center;
    width: 400px;
}

.red {
    background: indianred;
}

.blue {
    background: lightskyblue;
}

.orange {
    background: darkorange;
}

.green {
    background: forestgreen;
}